<div>
    <h3 class="text-center">Alert Box</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showAlert1()">Alert with Message only</button>
    <button class="btn btn-primary m-1" (click)="showAlert2()">Alert with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showAlert3()">Alert with Message & close</button>
    <button class="btn btn-primary m-1" (click)="showAlert4()">Alert with Message, title & close</button>
    <hr/>
    <h3 class="text-center">Confirmation Box</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showConfirm1()">ConfirmBox with Message</button>
    <button class="btn btn-primary m-1" (click)="showConfirm2()">ConfirmBox with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showConfirm3()">ConfirmBox with Message & cancel</button>
    <button class="btn btn-primary m-1" (click)="showConfirm4()">ConfirmBox with Message, title & cancel</button>
    <hr/>
    <h3 class="text-center">Growl Success</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showSuccess1()">Success with Message as string</button>
    <button class="btn btn-primary m-1" (click)="showSuccess2()">Success with Message as array</button>
    <button class="btn btn-primary m-1" (click)="showSuccess3()">Success with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showSuccess4()">Success with Message & sticky</button>
    <button class="btn btn-primary m-1" (click)="showSuccess5()">Success with Message, title & duration 5000</button>
    <hr/>
    <h3 class="text-center">Growl Error</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showError1()">Error with Message as string</button>
    <button class="btn btn-primary m-1" (click)="showError2()">Error with Message as array</button>
    <button class="btn btn-primary m-1" (click)="showError3()">Error with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showError4()">Error with Message & sticky</button>
    <button class="btn btn-primary m-1" (click)="showError5()">Error with Message, title & duration 5000</button>
    <hr/>
    <h3 class="text-center">Growl Warning</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showWarning1()">Warning with Message as string</button>
    <button class="btn btn-primary m-1" (click)="showWarning2()">Warning with Message as array</button>
    <button class="btn btn-primary m-1" (click)="showWarning3()">Warning with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showWarning4()">Warning with Message & sticky</button>
    <button class="btn btn-primary m-1" (click)="showWarning5()">Warning with Message, title & duration 5000</button>
    <hr/>
    <h3 class="text-center">Growl Info</h3>
    <hr/>
    <button class="btn btn-primary m-1" (click)="showInfo1()">Info with Message as string</button>
    <button class="btn btn-primary m-1" (click)="showInfo2()">Info with Message as array</button>
    <button class="btn btn-primary m-1" (click)="showInfo3()">Info with Message & title</button>
    <button class="btn btn-primary m-1" (click)="showInfo4()">Info with Message & sticky</button>
    <button class="btn btn-primary m-1" (click)="showInfo5()">Info with Message, title & duration 5000</button>

</div>
<ng-growl-alert></ng-growl-alert>